/* certificates section styling */
.certificates{
    background: 
        /* transparent black, faked with gradient */ 
        linear-gradient(
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.75)
        ),
        /* image */
        url("../assets/images/background.jpg") no-repeat center;
    color: var(--white);
    background-size: cover;
    background-attachment: fixed;
}
.certificates .carousel .card{
    background: var(--white);
    color: var(--black);
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
}
.certificates .carousel .card:hover{
    background: var(--primaryDark);
    color: var(--white);
}
.certificates .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.certificates .carousel .card:hover .box{
    transform: scale(1.05);
}
.certificates .carousel .card .text{
    font-size: 25px;
    font-weight: 200;
    margin: 10px 0 7px 0;
}
.certificates .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--primaryLight);
    transition: all 0.3s ease;
}
.certificates .carousel .card:hover img{
    border-color: var(--white);
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid var(--primaryLight)!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: var(--primaryLight)!important;
}