/* footer section styling */
footer{
    background: 
        /* transparent black, faked with gradient */ 
        linear-gradient(
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.75)
        ),
        /* image */
        url("../assets/images/background.jpg") no-repeat center;
    color: var(--white);
    background-size: cover;
    background-attachment: fixed;
    padding: 15px 23px;
    text-align: center;
}
footer span a{
    color: var(--primaryLight);
    text-decoration: none;
}